<div class="container-fluid no-breadcrumbs">
  <form [formGroup]="validationForm">
  


<mat-card class="mat-subcard">
  
  <mat-card-subtitle>
    <h6>รายการไฟล์แนบ</h6>
    <input type="file" #fileInput class="d-none" (change)="fileChange($event)">
                 
    <button mat-fab type="button" color="primary" (click)="fileInput.click()">
      <mat-icon class="material-icons">cloud_upload</mat-icon>
    </button>
  </mat-card-subtitle>
  <mat-card-content>
    <br>
    <div class="output" >ไฟล์ที่เลือก: {{ fileName }} </div>
  </mat-card-content>

<mat-card-actions>
  <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
      <mat-icon class="material-icons">close</mat-icon> ปิด
  </button>

  <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="save()"
  [disabled]="!validationForm.valid || model.file == null">
      <mat-icon class="material-icons">save</mat-icon> บันทึกข้อมูล
  </button>
</mat-card-actions>
</mat-card>
</form>
</div>

<!-- <div class="container-fluid no-breadcrumbs">

  <form [formGroup]="validationForm">

      <mat-card>

        <mat-card-subtitle>
          <h6>รายการไฟล์แนบ</h6>
          <input type="file" #fileInput class="d-none" (change)="fileChange($event)">
                       
          <button mat-fab type="button" color="primary" (click)="fileInput.click()">
            <mat-icon class="material-icons">cloud_upload</mat-icon>
          </button>
        </mat-card-subtitle>
         
            <mat-card-content>
              <br>
              <div class="output" >ไฟล์ที่เลือก: {{ fileName }} </div>
            </mat-card-content>
       
      <div class="form-action">

          <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
              <mat-icon class="material-icons">close</mat-icon> ปิด
          </button>

          <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="save()"
              [disabled]="!validationForm.valid || model.file == null">
              <mat-icon class="material-icons">save</mat-icon> บันทึกข้อมูล
          </button>

      </div>
    </mat-card>
  </form>

</div> -->
