<div class="container-fluid no-breadcrumbs">
  <mat-card>
    <mat-card-title>
      <h6>Sync Product</h6>
    </mat-card-title>
    <mat-card-content>

      <form>
        <mat-card-content class="no-margin">
          <div class="row">
            
            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <mat-select placeholder="Design" [(ngModel)]="model_search.pddsgn_code" name="pddsgn_code">
                  
                  <mat-option *ngFor="let x of ddlProductDesign" [value]="x.key">{{x.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            
            
          </div>
        </mat-card-content>
        <mat-card-actions class="no-margin">
          <button mat-raised-button color="primary" class="btn-w-md" type="button" (click)="sync()">
            <mat-icon class="material-icons">add</mat-icon> Sync Product
          </button>
         
        </mat-card-actions>
      </form>



      
    </mat-card-content>
    
  </mat-card>
</div>

