<div class="container-fluid no-breadcrumbs">

  <mat-card>

    <mat-card-title>
      <h6>Select Item Type & Color</h6>
    </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-5 col-5">
              <h6>Design: AHANA</h6> 
            </div>
            <div class="col-sm-7 col-7 text-right" >
            
              <div class="hiddenradio">
                <label>
                  <input type="radio" name="test" value="small" checked>
                  <img src="./assets/images-prod/ahana-bronze.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>
                &nbsp;
                <label>
                  <input type="radio" name="test" value="big">
                  <img src="./assets/images-prod/ahana-dusky.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>
                &nbsp;
                <label>
                  <input type="radio" name="test" value="big">
                  <img src="./assets/images-prod/ahana-marsala.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>
                &nbsp;

                <label>
                  <input type="radio" name="test" value="big">
                  <img src="./assets/images-prod/ahana-titanium.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>

              </div>             

              <!-- <mat-radio-button></mat-radio-button> <img src="./assets/images-prod/ahana-bronze-font_color-1.png" style="width: 30px;margin-top: 17px;" class="responsive"/>
              <mat-radio-button><img src="./assets/images-prod/ahana-bronze-font_color-2.png" class="responsive"/></mat-radio-button> 
              <mat-radio-button><img src="./assets/images-prod/ahana-bronze-font_color-3.png" class="responsive"/></mat-radio-button> 
              <mat-radio-button><img src="./assets/images-prod/ahana-bronze-font_color-4.png" class="responsive"/></mat-radio-button>  -->
            </div>
          </div>
        </div>  
      </div>    

      <div class="row">

        <div class="col-sm-12">

          <div class="row">

            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-fitted-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-flat-sheet-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-duvet-cover-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-pillow-case-a.png" class="responsive"/>
            </div>

          </div>

        </div>

        

      </div>
      <div class="row">

        <div class="col-sm-12">

          <div class="row">

            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              <mat-checkbox class="example-margin">Fitted</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              <mat-checkbox class="example-margin" checked="true">Flat Sheet</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              <mat-checkbox class="example-margin" checked="true">Duvet Cover</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              <mat-checkbox class="example-margin">Pillow Case</mat-checkbox>
            </div>

          </div>

        </div>

        

      </div>

      <div class="row">

        <div class="col-sm-12">

          <div class="row">

           
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-oxford-pillow-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-bolster-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-neckroll-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-breakfast-a.png" class="responsive"/>
            </div>

          </div>

        </div>

        

      </div>
      <div class="row">

        <div class="col-sm-12">

          <div class="row">

            
            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              <mat-checkbox class="example-margin">Oxford Pillow Case</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              <mat-checkbox class="example-margin">Bolster Case</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px; ">
              <mat-checkbox class="example-margin">Neckroll</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px; ">
              <mat-checkbox class="example-margin">Breakfast</mat-checkbox>
            </div>
  

          </div>

        </div>

        

      </div>


      <div class="row">

        <div class="col-sm-12">

          <div class="row">

           
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-boudoir-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-cushion-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-euro-sham-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-coverlet-a.png" class="responsive"/>
            </div>

          </div>

        </div>

        

      </div>
      <div class="row">

        <div class="col-sm-12">

          <div class="row">

            
            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              <mat-checkbox class="example-margin">Boudoir</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              <mat-checkbox class="example-margin">Cushion</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px; ">
              <mat-checkbox class="example-margin">Euro Sham</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px; ">
              <mat-checkbox class="example-margin">Cover Lets</mat-checkbox>
            </div>
  

          </div>

        </div>

        

      </div>


      <div class="row">

        <div class="col-sm-12">

          <div class="row">

           
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-cushion-sham-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-throw-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-bathrobe-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-towel-a.png" class="responsive"/>
            </div>

          </div>

        </div>

        

      </div>
      <div class="row">

        <div class="col-sm-12">

          <div class="row">

            
            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              <mat-checkbox class="example-margin">Cushion Sham</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              <mat-checkbox class="example-margin">Throw</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px; ">
              <mat-checkbox class="example-margin">Bathrobe</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px; ">
              <mat-checkbox class="example-margin">Towel</mat-checkbox>
            </div>
  

          </div>

        </div>

        

      </div>

      <div class="row">

        <div class="col-sm-12">

          <div class="row">

           
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-bath-mat-a.png" class="responsive"/>
            </div>
            <!-- <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-throw-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-bathrobe-a.png" class="responsive"/>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-towel-a.png" class="responsive"/>
            </div> -->

          </div>

        </div>

        

      </div>
      <div class="row">

        <div class="col-sm-12">

          <div class="row">

            
            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              <mat-checkbox class="example-margin">Bath Mat</mat-checkbox>
            </div>
            <!-- <div class="col-sm-3 col-3" style="margin-top: 5px;">
              <mat-checkbox class="example-margin">Throw</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px; ">
              <mat-checkbox class="example-margin">Bathrobe</mat-checkbox>
            </div>
            <div class="col-sm-3 col-3" style="margin-top: 5px; ">
              <mat-checkbox class="example-margin">Towel</mat-checkbox>
            </div> -->
  

          </div>

        </div>

        

      </div>

    </mat-card-content>

  </mat-card>

 

  <div class="form-action">

    <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
      <mat-icon class="material-icons">close</mat-icon> ปิด
    </button>

    <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="Confirm()"
     >
      <mat-icon class="material-icons">done_outline</mat-icon> ยืนยัน
    </button>

  </div>

</div>

