<div class="container-fluid no-breadcrumbs">

  <mat-card>

    <mat-card-title>
      <h6>Product Design</h6>
    </mat-card-title>

    <mat-card-content>

      <div class="row">

        <div class="col-sm-8">

          <div class="row">

            <div class="col-sm-4 col-6">
              
            </div>
            
            <div class="col-sm-4 col-6">
              
            </div>

          </div>

        </div>

        

      </div>

    </mat-card-content>

  </mat-card>

 

  <div class="form-action">

    <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
      <mat-icon class="material-icons">close</mat-icon> ปิด
    </button>

    <!-- <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="sendToReady()"
      *ngIf="(model.statusId == 'PAL' && actions.SEND)">
      <mat-icon class="material-icons">send</mat-icon> ส่งรายการ
    </button> -->

  </div>

</div>

