<div class="container-fluid no-breadcrumbs">

  <mat-card>

    <mat-card-title>
      <h6>Select Item Type & Color</h6>
    </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-5 col-5">
              <h6>Design: AHANA</h6> 
            </div>
            <!-- <div class="col-sm-7 col-7 text-right" >
            
              <div class="hiddenradio">
                <label>
                  <input type="radio" name="test" value="small" checked>
                  <img src="./assets/images-prod/ahana-bronze.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>
                &nbsp;
                <label>
                  <input type="radio" name="test" value="big">
                  <img src="./assets/images-prod/ahana-dusky.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>
                &nbsp;
                <label>
                  <input type="radio" name="test" value="big">
                  <img src="./assets/images-prod/ahana-marsala.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>
                &nbsp;

                <label>
                  <input type="radio" name="test" value="big">
                  <img src="./assets/images-prod/ahana-titanium.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>

              </div>             

  
            </div> -->
          </div>
        </div>  
      </div>    

      <div class="row" *ngFor="let x of checkedList">
        <div class="col-sm-12" >
          <div class="row">
            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              Size 
            </div>
            <div class="col-sm-8 col-8" style="margin-top: 5px;">
              {{x.pdtype_tname}}
            </div>
            
          </div>
        </div>
        <!-- <div class="row"> -->
          <!-- <div class="col-sm-12"> -->
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
              <p *ngFor="let y of x.catalogSize">
                <mat-checkbox class="example-margin">{{y.pdsize_name}}</mat-checkbox>
              </p>
              <mat-form-field >
                <input matInput placeholder="" name="other">
              </mat-form-field><br>
              <mat-form-field class="full-width">
                <input matInput placeholder="Remark" name="remark">
              </mat-form-field>

              
            </div>
            <div class="col-sm-2 col-2" style="margin-top: 10px;" *ngFor="let z of x.catalogType" >
              <!-- <img src="./assets/images-prod/ahana-bronze-flat-sheet-a.png" class="responsive"/> -->
              <img src="{{z.pic_base64}}" height="120">
              <p></p>
              <mat-form-field class="full-width">
                <input type="number" matInput placeholder="จำนวน" name="qty" value=0>
              </mat-form-field>
            </div>

          <!-- </div> -->
        <!-- </div> -->
      </div>    


      <!-- <div class="row" >

        <div class="col-sm-12">

          <div class="row">
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
           
            <p><mat-checkbox class="example-margin" checked="true">108" X 108"</mat-checkbox><br>
            <mat-checkbox class="example-margin">96" X 108"</mat-checkbox><br>
            <mat-checkbox class="example-margin">72" X 108"</mat-checkbox><br>
            <mat-checkbox class="example-margin">Other</mat-checkbox>
            <mat-form-field >
              <input matInput placeholder="" name="other">
            </mat-form-field><br>
            <mat-form-field class="full-width">
              <input matInput placeholder="Remark" name="remark">
            </mat-form-field></p>
            </div>

            <div class="col-sm-2 col-2" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-flat-sheet-a.png" class="responsive"/>
              <p>฿9,999.00</p>
              <mat-form-field class="full-width">
                <input type="number" matInput placeholder="จำนวน" name="qty" value=0>
              </mat-form-field>
            </div>
            <div class="col-sm-2 col-2" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-flat-sheet-b.png" class="responsive"/>
              <p>฿9,999.00</p>
              <mat-form-field class="full-width">
                <input type="number" matInput placeholder="จำนวน" name="qty" value=1>
              </mat-form-field>
            </div>
       

          </div>

        </div>

        

      </div> -->


      <!-- <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3 col-3" style="margin-top: 5px;">
              Size 
            </div>
            <div class="col-sm-8 col-8" style="margin-top: 5px;">
              Duvet Cover
            </div>
            
          </div>
        </div>
      </div>     -->


      <!-- <div class="row">

        <div class="col-sm-12">

          <div class="row">
            <div class="col-sm-3 col-3" style="margin-top: 10px;">
          
            <p><mat-checkbox class="example-margin">106" X 94"</mat-checkbox><br>
            <mat-checkbox class="example-margin" checked="true">100" X 90"</mat-checkbox><br>
            <mat-checkbox class="example-margin">86" X 90"</mat-checkbox><br>
            <mat-checkbox class="example-margin">70" X 90"</mat-checkbox>
          
            <mat-form-field class="full-width">
              <input matInput placeholder="Remark" name="remark">
            </mat-form-field></p>
            </div>

            <div class="col-sm-2 col-2" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-duvet-cover-a.png" class="responsive"/>
              <p>฿9,999.00</p>
              <mat-form-field class="full-width">
                <input type="number" matInput placeholder="จำนวน" name="qty" value=0>
              </mat-form-field>
            </div>
            <div class="col-sm-2 col-2" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-duvet-cover-b.png" class="responsive"/>
              <p>฿9,999.00</p>
              <mat-form-field class="full-width">
                <input type="number" matInput placeholder="จำนวน" name="qty" value=1>
              </mat-form-field>
            </div>
            <div class="col-sm-2 col-2" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-duvet-cover-c.png" class="responsive"/>
              <p>฿9,999.00</p>
              <mat-form-field class="full-width">
                <input type="number" matInput placeholder="จำนวน" name="qty" value=0>
              </mat-form-field>
            </div>
            <div class="col-sm-2 col-2" style="margin-top: 10px;">
              <img src="./assets/images-prod/ahana-bronze-duvet-cover-d.png" class="responsive"/>
              <p>฿9,999.00</p>
              <mat-form-field class="full-width">
                <input type="number" matInput placeholder="จำนวน" name="qty" value=0>
              </mat-form-field>
            </div>

          </div>

        </div>

        

      </div> -->
      
      <div class="row">

        <div class="col-sm-12">

          <div class="row">
            <div class="col-sm-2 col-2" style="margin-top: 10px;">
              <mat-form-field class="full-width">
                <input matInput placeholder="Font" name="font">
              </mat-form-field>
            </div>
            <div class="col-sm-2 col-2" style="margin-top: 10px;">
              <mat-radio-button class="example-margin" checked="true"><img src="./assets/images-prod/font-a.png" class="responsive"/></mat-radio-button>
              <mat-radio-button class="example-margin"><img src="./assets/images-prod/font-b.png" class="responsive"/></mat-radio-button>
            </div>

            <div class="col-sm-1 col-1" style="margin-top: 10px;">
            </div>
            <div class="col-sm-5 col-5" style="margin-top: 10px;">
              Font Color
              <div class="hiddenradio">
                <label>
                  <input type="radio" name="test" value="small" checked>
                  <img src="./assets/images-prod/ahana-bronze-font_color-1.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>
                &nbsp;
                <label>
                  <input type="radio" name="test" value="big">
                  <img src="./assets/images-prod/ahana-bronze-font_color-2.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>
                &nbsp;
                <label>
                  <input type="radio" name="test" value="big">
                  <img src="./assets/images-prod/ahana-bronze-font_color-3.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>
                &nbsp;

                <label>
                  <input type="radio" name="test" value="big">
                  <img src="./assets/images-prod/ahana-bronze-font_color-4.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>
                &nbsp;
                <label>
                  <input type="radio" name="test" value="big">
                  <img src="./assets/images-prod/ahana-bronze-font_color-5.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
                </label>

              </div>         
            </div>
            <div class="col-sm-2 col-2" style="margin-top: 10px;">
              <mat-form-field class="full-width">
                <input matInput placeholder="ราคารายปัก (เพิ่ม)" name="font">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      

    </mat-card-content>

  </mat-card>

 

  <div class="form-action">

    <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
      <mat-icon class="material-icons">close</mat-icon> ปิด
    </button>

    <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="Confirm()"
     >
      <mat-icon class="material-icons">done_outline</mat-icon> ยืนยัน
    </button>

  </div>

</div>


