<div class="container-fluid no-breadcrumbs">

  <mat-card>

    <mat-card-title>
      <h6>Product Design</h6>
    </mat-card-title>

    <mat-card-content>

      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6 col-6" style="margin-top: 5px;">
              <!-- <div class="text-center" style="margin-bottom: 50px;"> -->
                <a [routerLink]="['/app/sale/product']"><img src="./assets/images-prod/ahana.png" class="responsive"/></a>
              <!-- </div> -->
            </div>
            <div class="col-sm-6 col-6" >
              <h5>AHANA</h5>
              <p>รายละเอียด</p>
              <p>xxxxxxxxxxxxxxxxxxxx</p>
              Color :
              <p><a [routerLink]="['/app/sale/product']"><img src="./assets/images-prod/ahana-bronze.png" style="width: 25px;margin-top: 17px;" class="responsive"/></a>&nbsp;&nbsp;
                <img src="./assets/images-prod/ahana-dusky.png" style="width: 25px;margin-top: 17px;" class="responsive"/>&nbsp;&nbsp;
                <img src="./assets/images-prod/ahana-marsala.png" style="width: 25px;margin-top: 17px;" class="responsive"/>&nbsp;&nbsp;
                <img src="./assets/images-prod/ahana-titanium.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6 col-6" style="margin-top: 10px;">
              <!-- <div class="text-center" style="margin-bottom: 50px;"> -->
                <img src="./assets/images-prod/alaina.png" class="responsive"/>
              <!-- </div> -->
            </div>
            <div class="col-sm-6 col-6">
              <h5>ALAINA</h5>
              <p>รายละเอียด</p>
              <p>xxxxxxxxxxxxxxxxxxxx</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6 col-6" style="margin-top: 10px;">
              <!-- <div class="text-center" style="margin-bottom: 50px;"> -->
                <img src="./assets/images-prod/ambroz.png" class="responsive"/>
              <!-- </div> -->
            </div>
            <div class="col-sm-6 col-6" style="margin-top: 5px;">
              <h5>AMBROZ</h5>
              <p>รายละเอียด</p>
              <p>xxxxxxxxxxxxxxxxxxxx</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6 col-6" style="margin-top: 10px;">
              <!-- <div class="text-center" style="margin-bottom: 50px;"> -->
                <img src="./assets/images-prod/ardala.png" class="responsive"/>
              <!-- </div> -->
            </div>
            <div class="col-sm-6 col-6">
              <h5>ARDALA</h5>
              <p>รายละเอียด</p>
              <p>xxxxxxxxxxxxxxxxxxxx</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6 col-6" style="margin-top: 10px;">
              <!-- <div class="text-center" style="margin-bottom: 50px;"> -->
                <img src="./assets/images-prod/aristide.png" class="responsive"/>
              <!-- </div> -->
            </div>
            <div class="col-sm-6 col-6">
              <h5>ARISTIDE</h5>
              <p>รายละเอียด</p>
              <p>xxxxxxxxxxxxxxxxxxxx</p>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>

  </mat-card>

 

  <div class="form-action">

    <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
      <mat-icon class="material-icons">close</mat-icon> ปิด
    </button>

    <!-- <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="sendToReady()"
      *ngIf="(model.statusId == 'PAL' && actions.SEND)">
      <mat-icon class="material-icons">send</mat-icon> ส่งรายการ
    </button> -->

  </div>

</div>
