<div class="container-fluid no-breadcrumbs">
  <mat-card>
      <mat-card-title>
          <h6>เพิ่ม Color</h6>
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="validationForm">
          <mat-card-content class="no-margin">
              <div class="row">
                  <div class="col-12 col-sm-6">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Product Color" formControlName="pdcolor_code" [(ngModel)]="model.pdcolor_code"  name="pdcolor_code">
                        <!-- <mat-option>ทั้งหมด</mat-option> -->
                        <mat-option *ngFor="let x of ProductColorLists" [value]="x.key">
                          {{x.value}}
                        </mat-option>
                      </mat-select>

                  </mat-form-field>
                  </div>
                 
              </div>


              
            <div class="row">
              <div class="col-12">
                <dt>รูปสี</dt><br>
                <input type="file" #file class="d-none" (change)="preview($event)">
                      <button matPrefix mat-raised-button color="accent" class="btn-w-md" type="button"
                          (click)="file.click()">
                          Choose file
                      </button>

                <!-- <input type='file' #file (change)="preview($event)"> -->
                <br>
                <img [src]="imgURL" height="100" *ngIf="imgURL">
                
              </div>
            </div>

            <div class="row" style="margin-top: 15px;">
              
              <div class="col-12">
                  <dt>รูป Catalog </dt>
                  <!-- <dd>{{(model.catalog_file_path == null) ? "" : model.catalog_file_path.name}}</dd> -->
              </div>
              <div class="col-sm-12 ">
                  <!-- <input type="file" #fileInput class="d-none" (change)="fileChange($event.target.files)"> -->
                  <input type="file" #fileInput class="d-none" (change)="fileChange($event)">
                  <button matPrefix mat-raised-button color="accent" class="btn-w-md" type="button"
                      (click)="fileInput.click()">
                      Choose file
                  </button>
                  <br>
                  <div class="output">ไฟล์ที่เลือก: {{ fileName }} </div>
              </div>
          </div>

        </mat-card-content>

        

        <!-- <mat-card-subtitle>
          <h6>รายการไฟล์แนบ</h6>
          <button mat-fab type="button" color="primary" (click)="upload()">
            <mat-icon class="material-icons">cloud_upload</mat-icon>
          </button>
        </mat-card-subtitle> -->

          <!-- <mat-card-content>
              <div class="row">
                  <br>
                  <br>
                  <div class="col-12">
                      <dt>รูป Catalog</dt>
                      <dd>{{(model.catalog_file_path == null) ? "" : model.catalog_file_path.name}}</dd>
                  </div>
                  <div class="col-sm-4 ">
                      <input type="file" #fileInput class="d-none" (change)="fileChange($event.target.files)">
                      <button matPrefix mat-raised-button color="accent" class="btn-w-md" type="button"
                          (click)="fileInput.click()">
                          Choose file
                      </button>
                      <p>{{ fileInput?.files[0]?.name }}</p>

                  </div>
              </div>
          </mat-card-content> -->

        </form>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
              <mat-icon class="material-icons">close</mat-icon> ปิด
          </button>

          <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="save()"
              [disabled]="!validationForm.valid">
              <mat-icon class="material-icons">save</mat-icon> บันทึกข้อมูล
          </button>
      </mat-card-actions>
  </mat-card>
</div>


