@media only screen and (max-width: 769px) {
    .customer-box {
      border-left: none !important;
    }
  }
  
  .customer-box {
    border-left: 1px solid #ae8538;
  }

  .sig-container {
    border-style: dashed;
    border-width: 1px;
  }
  
  .sig-container canvas {
    border-style: solid;
    border-width: 1px;
  }
  
  .sig-container canvas {
    background-image: url('/assets/images/sign-here.png');
    background-repeat: no-repeat;
    background-position-y: 95%;
  }
  
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    position: relative;
    width: 262px;
    height: 150px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// .signature_client,
// .signature_tech {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 280px;
//     height: 150px;
// }
  
  .signature-pad {
    width:100%;
    height:100%;
    //background-color: white;
  }
  