<div class="container-fluid no-breadcrumbs">

  <mat-card>

    <mat-card-title>
      <h6>Order Summary</h6>
    </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-5 col-5">
              <h6>สรุปการสั่งซื้อสินค้า</h6> 
            </div>
            <div class="col-sm-7 col-7 text-right" >
            
              
            </div>
          </div>
        </div>  
      </div>    

      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-5 col-5">
              ห้าง - ร้าน : {{branchName}}
            </div>
            <div class="col-sm-2 col-2" >
            </div>
            <div class="col-sm-5 col-5" >
              เลขที่เอกสาร : {{docNo}}
            </div>
          </div>
        </div>  
      </div>    

      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-5 col-5">
              <mat-form-field class="full-width">
                <input matInput placeholder="ชื่อลูกค้า" name="remark">
              </mat-form-field>
            </div>
            <div class="col-sm-2 col-2" >
            </div>
            <div class="col-sm-5 col-5" >
              <mat-form-field class="full-width">
                <input matInput placeholder="วันที่ขาย" name="remark">
              </mat-form-field>
            </div>
          </div>
        </div>  
      </div>    

      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-5 col-5">
              <mat-form-field class="full-width">
                <input matInput placeholder="ที่อยู่" name="remark">
              </mat-form-field>
            </div>
            <div class="col-sm-2 col-2" >
            </div>
            <div class="col-sm-5 col-5" >
              <mat-form-field class="full-width">
                <input matInput placeholder="วันที่ต้องการ" name="remark">
              </mat-form-field>
            </div>
          </div>
        </div>  
      </div>    

      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-5 col-5">
              <mat-form-field class="full-width">
                <input matInput placeholder="" name="remark">
              </mat-form-field>
            </div>
            <div class="col-sm-2 col-2" >
            </div>
            <div class="col-sm-5 col-5" >
              <mat-form-field class="full-width">
                <input matInput placeholder="Invoice No." name="remark">
              </mat-form-field>
            </div>
          </div>
        </div>  
      </div>    

      <div class="row">
        <div class="col-sm-12">
          Design Name : AHANA
        </div>
      </div>
      

      <div class="row card-table-body" >
        <div class="col-12">
          <hr />
        </div>
        <div class="col-sm-1 col-6">
          <small>ลำดับ</small>
          <dd>1</dd>
        </div>
        <div class="col-sm-1 col-6">
          <small>รายการสินค้า</small>
          <dd>Flat Sheet</dd><img src="./assets/images-prod/ahana-bronze-flat-sheet-b.png" class="responsive"/>
        </div>
        <div class="col-sm-2 col-6">
          <small>ขนาด</small>
          <dd>108" X 108"</dd>
        </div>
        <div class="col-sm-1 col-6">
          <small>สี</small>
          <dd></dd><img src="./assets/images-prod/ahana-bronze.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
        </div>
        <div class="col-sm-1 col-6">
          <small>รายปัก</small>
          <dd>JH</dd>
        </div>
        <div class="col-sm-2 col-6">
          <small>แบบตัวอักษรและสี</small>
          <dd></dd><img src="./assets/images-prod/font-a.png" class="responsive"/><img src="./assets/images-prod/ahana-bronze-font_color-1.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
        </div>
        <div class="col-sm-1 col-6">
          <small>จำนวน</small>
          <dd>2</dd>
        </div>
        <div class="col-sm-1 col-6">
          <small>ราคา</small>
          <dd>5,000</dd>
        </div>
        <div class="col-sm-2 col-5">
          <small>จำนวนเงิน</small>
          <dd>10,000</dd>
        </div>
        
      </div>


      <div class="row card-table-body" >
        <div class="col-12">
          <hr />
        </div>
        <div class="col-sm-1 col-6">
          <small>ลำดับ</small>
          <dd>2</dd>
        </div>
        <div class="col-sm-1 col-6">
          <small>รายการสินค้า</small>
          <dd>Duvet Cover</dd><img src="./assets/images-prod/ahana-bronze-duvet-cover-b.png" class="responsive"/>
        </div>
        <div class="col-sm-2 col-6">
          <small>ขนาด</small>
          <dd>100" X 90"</dd>
        </div>
        <div class="col-sm-1 col-6">
          <small>สี</small>
          <dd></dd><img src="./assets/images-prod/ahana-bronze.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
        </div>
        <div class="col-sm-1 col-6">
          <small>รายปัก</small>
          <dd>JH</dd>
        </div>
        <div class="col-sm-2 col-6">
          <small>แบบตัวอักษรและสี</small>
          <dd></dd><img src="./assets/images-prod/font-a.png" class="responsive"/><img src="./assets/images-prod/ahana-bronze-font_color-1.png" style="width: 25px;margin-top: 17px;" class="responsive"/>
        </div>
        <div class="col-sm-1 col-6">
          <small>จำนวน</small>
          <dd>1</dd>
        </div>
        <div class="col-sm-1 col-6">
          <small>ราคา</small>
          <dd>5,000</dd>
        </div>
        <div class="col-sm-2 col-5">
          <small>จำนวนเงิน</small>
          <dd>5,000</dd>
        </div>
        
      </div>
      
      <div class="row card-table-body" >
        <div class="col-12">
          <hr />
        </div>
        <div class="col-sm-6 col-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="หมายเหตุ" name="font">
          </mat-form-field>
        </div>
        <div class="col-sm-2 col-6">
          รวมทั้งสิ้น
        </div>
        <div class="col-sm-1 col-6">
          3
        </div>
        <div class="col-sm-1 col-6">
          10,000
        </div>
        <div class="col-sm-1 col-6">
          15,000
        </div>
      </div>

      

    </mat-card-content>

  </mat-card>


  
  <app-attach-file-view ></app-attach-file-view>

  <mat-card>
    <mat-card-content>
      <div class="row card-table-body" >
        <div class="col-12">
          <hr />
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-4 col-sm-4">
              <canvas id="stage" width="200" height="100"></canvas>
            </div>
            <div class="col-4 col-sm-4">

            </div>
            <div class="col-4 col-sm-4">
              <canvas id="stage" width="200" height="100"></canvas>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-4 col-sm-4 text-center">
              Shop Manager Approve <button >Sign</button>
            </div>
            <div class="col-4 col-sm-4">

            </div>
            <div class="col-4 col-sm-4 text-center" >
              Customer Approve <button >Sign</button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>  
  </mat-card>


  <div class="form-action">

    <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
      <mat-icon class="material-icons">close</mat-icon> ปิด
    </button>

    
    <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="Confirm()"
     >
      <mat-icon class="material-icons">save</mat-icon> บันทึกข้อมูล
    </button>
    &nbsp;&nbsp;
    <button mat-raised-button class="btn-w-md " type="button" (click)="print()">
      <mat-icon class="material-icons">print</mat-icon> Print
    </button>

  </div>

</div>



