<div class="container-fluid no-breadcrumbs">
  <mat-card>
      <mat-card-title>
          <h6>Product Color</h6>
      </mat-card-title>
      <mat-card-content>

          <form [formGroup]="validationForm">
              <mat-card-content class="no-margin">
                
                  <div class="row">
                    <div class="col-6 col-sm-3">
                      
                      <mat-form-field class="full-width">
                        <mat-select placeholder="Product Design" formControlName="catalog_id"  [(ngModel)]="model_search.catalog_id"  name="catalog_id">
                         
                        <mat-option *ngFor="let catalog_id of catalogDesignLists" [value]="catalog_id.key">{{catalog_id.value}}</mat-option>
                        
                        </mat-select>

                       </mat-form-field>
                    </div>
                    <div class="col-6 col-sm-9">

                        <button mat-raised-button color="primary" class="btn-w-md" type="button"  (click)="search()">
                            <mat-icon class="material-icons">search</mat-icon> ค้นหา
                        </button>
                    
                        <!-- <button mat-raised-button type="button" mat-button class="btn-w-md pull-right" (click)="add()" >
                            <mat-icon class="material-icons">add</mat-icon> เพิ่ม Border Color
                        </button> -->
                    </div>

                </div>
                
              </mat-card-content>

              <mat-card-content class="no-margin">
                <div class="row">
                    <div class="col-6 col-sm-3">
                        <h6> Design : {{designName}} </h6>
                    </div>
                </div>
              </mat-card-content>
              
              <mat-card-actions class="no-margin">
                  <button mat-raised-button color="primary" class="btn-w-md" type="button" (click)="color_search()" >
                      <mat-icon class="material-icons">view_array</mat-icon> Prouct Color
                  </button>
                  <button mat-raised-button color="primary" class="btn-w-md" type="button"  (click)="emb_search()">
                    <mat-icon class="material-icons">text_format</mat-icon> Embroidery Color
                  </button>
                  <button mat-raised-button color="primary" class="btn-w-md" type="button"  (click)="border_search()"  >
                    <mat-icon class="material-icons">web_asset</mat-icon> Border Color
                  </button>
                  <button mat-raised-button color="primary" class="btn-w-md" type="button"  (click)="type_search()" disabled>
                    <mat-icon class="material-icons">art_track</mat-icon> Product Type
                  </button>

                  
              </mat-card-actions>
          </form>
          
          <div class="row">

            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-12" style="margin-bottom: 30px">
                        <!-- <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button"
                            (click)="search()">
                            <mat-icon class="material-icons">add</mat-icon> เพิ่ม Type
                        </button> -->

                    </div>
                    <div class="col-12" style="margin-bottom: 30px">
                        <mat-card>
                            <mat-card-title>
                                <h6>Type <button mat-raised-button   class="btn-w-md pull-right" type="button"
                                    (click)="add_type()">
                                    <mat-icon class="material-icons">add</mat-icon>เพิ่ม Type</button></h6>
                                
                            </mat-card-title>
                            <mat-card-content>
                             
                                <!-- <div class="row card-table-body" *ngFor="let x of products.datas">
                                    <div class="col-6 col-sm-5">
                                        <small>รหัสสินค้า</small>
                                        <dd>{{x.productCode}}</dd>
                                    </div>
                                    <div class="col-6 col-sm-5">
                                        <small>บาร์โค้ด</small>
                                        <dd>{{x.barcode}}</dd>
                                    </div>
                                    <div class="col-12 col-sm-12">
                                        <small>ชื่อสินค้า</small>
                                        <dd>{{x.productName}}</dd>
                                    </div>
                                    <div class="col-12 col-sm-12 text-right">
                                        <button mat-icon-button [matMenuTriggerFor]="appMenu">
                                            <mat-icon class="material-icons">more_horiz</mat-icon>
                                        </button>

                                        <mat-menu #appMenu="matMenu">
                                            <button mat-menu-item (click)="delete_type(x)">
                                                <mat-icon class="material-icons">delete</mat-icon> <span>ลบ</span>
                                            </button>
                                        </mat-menu>

                                    </div>
                                    <div class="col-12">
                                        <hr />
                                    </div>
                                </div> -->
                                <!-- <mat-card-content *ngIf="products.datas != undefined">
                                    <ngb-pagination [collectionSize]="products.totalItem"
                                        [pageSize]="productSearch.itemPerPage" [maxSize]="5"
                                        [(page)]="productSearch.pageIndex" (pageChange)="searchProduct()"
                                        [boundaryLinks]="true"></ngb-pagination>
                                </mat-card-content> -->
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

            </div>

            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-12" style="margin-bottom: 30px">
                        <!-- <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button"
                            (click)="addProductSKU()">
                            <mat-icon class="material-icons">add</mat-icon>เพิ่ม Size
                        </button> -->
                    </div>
                    <div class="col-12">
                        <mat-card>
                            <mat-card-title>
                                <h6>Size <button mat-raised-button  class="btn-w-md pull-right" type="button"
                                    (click)="add_size()">
                                    <mat-icon class="material-icons">add</mat-icon>เพิ่ม Size</button></h6>   
                            </mat-card-title>

                            <mat-card-content>
                                <!-- <div class="row card-table-header">                                       
                                    <div class="col-2 col-lg-2">
                                        <b>รหัสสินค้า</b>
                                    </div>
                                    <div class="col-2 col-lg-2">
                                        <b>รหัสบาร์โค้ด</b>
                                    </div>
                                    <div class="col-6 col-lg-6">
                                        <b>ชื่อสินค้า</b>
                                    </div>                                       
                                    <div class="col-2 col-lg-2"></div>
                                    <div class="col-12">
                                        <hr />
                                    </div>
                                </div> -->
                                <!-- <div class="row card-table-body" *ngFor="let x of productAssignSKU.datas">
                                    <div class="col-6 col-sm-6">
                                        <small>รหัสสินค้า</small>
                                        <dd>{{x.productCode}}</dd>
                                    </div>
                                    <div class="col-6 col-sm-6">
                                        <small>บาร์โค้ด</small>
                                        <dd>{{x.barcode}}</dd>
                                    </div>
                                    <div class="col-12 col-sm-12">
                                        <small>ชื่อสินค้า</small>
                                        <dd>{{x.productName}}</dd>
                                    </div>
                                    <div class="col-12 col-sm-12 text-right">
                                        <button mat-icon-button [matMenuTriggerFor]="appMenu">
                                            <mat-icon class="material-icons">more_horiz</mat-icon>
                                        </button>

                                        <mat-menu #appMenu="matMenu">
                                            <button mat-menu-item (click)="delete_size(x)">
                                                <mat-icon class="material-icons">delete</mat-icon> <span>ลบ</span>
                                            </button>
                                        </mat-menu>

                                    </div>
                                    <div class="col-12">
                                        <hr />
                                    </div>
                                </div> -->
                                <!-- <mat-card-content *ngIf="productAssignSKU.datas != undefined">
                                        <ngb-pagination [collectionSize]="productAssignSKU.totalItem"
                                          [pageSize]="productAssignedSearch.itemPerPage" [maxSize]="5"
                                          [(page)]="productAssignedSearch.pageIndex" (pageChange)="loadProductAssigned()"
                                          [boundaryLinks]="true"></ngb-pagination>
                                      </mat-card-content> -->
                            </mat-card-content>
                            <!-- <div class="col-12">
                                <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button"
                                    style="margin-top: -20px" (click)="save()"
                                    [disabled]="productAssignSKU.datas.length==0">
                                    <mat-icon class="material-icons">save</mat-icon> บันทึกข้อมูล
                                </button>
                            </div> -->
                        </mat-card>

                    </div>
                </div>

            </div>
        </div>


          <!-- <mat-paginator [length]="data.totalItem" [pageIndex]="model.pageIndex" [pageSize]="model.itemPerPage"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event; search($event)">
          </mat-paginator> -->

      </mat-card-content>
      <!-- <mat-card-content *ngIf="data.datas != undefined">
          <ngb-pagination [collectionSize]="data.totalItem" [pageSize]="model.itemPerPage" [maxSize]="5"
              [(page)]="model.pageIndex" (pageChange)="search()" [boundaryLinks]="true"></ngb-pagination>
      </mat-card-content> -->

      <mat-card-actions>
        <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
            <mat-icon class="material-icons">close</mat-icon> ปิด
        </button>

        <!-- <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="save()"
            [disabled]="!validationForm.valid">
            <mat-icon class="material-icons">save</mat-icon> บันทึกข้อมูล
        </button> -->
    </mat-card-actions>
  </mat-card>
</div>




